.seccion-proyectos { padding: 20px 10% 40px; text-align: center; }

.pie-pagina { background-color: transparent; color: #777; text-align: right; padding: 10px 11% 30px; font-size: 0.9rem; clear: both; }